@use 'variables' as vars;
@use 'mixins' as m;
@use 'media' as *;

.form-section{
  position: relative;
  padding-bottom: 200px;
  overflow: hidden;

  @include tablet{
    padding-bottom: 150px;
  }

  @include mobile{
    padding-bottom: 100px;
  }

  &__bg-cloud{
    position: absolute;
    z-index: -1;
    width: 700px;
    height: 240px;
    background: url('../img/extra/cloud_alpha.png') center/contain no-repeat;

    &--left{
      top: 0;
      left: -350px;
    }

    &--right{
      bottom: 0;
      right: -350px;
    }
  }
}