@use 'variables' as vars;
@use 'sass:color';
@use 'mixins' as m;
@use 'media' as *;

.slider-card{
  @include m.d-flex(column,start,start,nowrap);
  
  width: 500px;
  height: 275px;
  background: url('../img/wave_card_bg.svg') center/cover no-repeat;

  @include mobile-s{
    width: 450px;
    height: 230px;
  }

  &__avatar{
    display: block;
    margin: 20px;
    width: 48px;
    aspect-ratio: 1;
    border-radius: 50%;
  }

  &__quote {
    @include m.fluid-text(20,14);

    margin: 0 45px 0 30px;
    line-height: 1.5;
    overflow-y: auto;
    text-align: justify;

  }
}