//color
$color-accent: #4f6cb5;
$color-white: #fff;
$color-black: #000;

//transition-duration
$transition-duration: .3s; 

//border
$border-radius-4px: 4px;
$border-radius-20px: 20px;
$border-radius-25px: 25px;
$border-radius-90px: 90px;


